Community Savings App BooK/*.png

node_modules/
coverage/
dist/
build/
.env


# Dependencies
node_modules/

# Logs
logs/
*.log
*.gz

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# npm / node artifacts
node
community-savings-backend@*

node_modules/
logs/
*.log